<%= form_for [:admin, @condition] do |form| %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div class="field">
    <%= form.label :max_temperature %>
    <%= form.number_field :max_temperature, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :mean_temperature %>
    <%= form.number_field :mean_temperature, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :min_temperature %>
    <%= form.number_field :min_temperature, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :mean_humidity %>
    <%= form.number_field :mean_humidity, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :mean_visibility %>
    <%= form.number_field :mean_visibility, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :mean_wind_speed %>
    <%= form.number_field :mean_wind_speed, :step => 0.01 %>
  </div>
  <div class="field">
    <%= form.label :precipitation %>
    <%= form.number_field :precipitation, :step => 0.01 %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
