<h1>All Conditions</h1>

<section class='index-main'>
  <table class="table table-striped table-light" id='conditions-index-table'>
    <thead class='table-light table-header'>
      <tr>
        <th scope="col" id='table-entry'>Date</th>
        <th scope="col" id='table-entry'>Max Temp</th>
        <th scope="col" id='table-entry'>Mean Temp</th>
        <th scope="col" id='table-entry'>Min Temp</th>
        <th scope="col" id='table-entry'>Mean Humidity</th>
        <th scope="col" id='table-entry'>Mean Visibility</th>
        <th scope="col" id='table-entry'>Mean Wind Speed</th>
        <th scope="col" id='table-entry'>Precipitation</th>
          <% if current_admin? %>
            <th scope="col" id='table-entry'>Edit</th>
            <th scope="col" id='table-entry'>Delete</th>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <% @conditions.each do |condition| %>
      <tr>
        <td id='table-entry'><%= link_to condition.date.strftime('%m/%d/%Y'), condition_path(condition) %></td>
        <td id='table-entry'><%= condition.max_temperature %> ºF</td>
        <td id='table-entry'><%= condition.mean_temperature %> ºF</td>
        <td id='table-entry'><%= condition.min_temperature %> ºF</td>
        <td id='table-entry'><%= condition.mean_humidity %> %</td>
        <td id='table-entry'><%= condition.mean_visibility %> miles</td>
        <td id='table-entry'><%= condition.mean_wind_speed %> mph</td>
        <td id='table-entry'><%= condition.precipitation %> "</td>
        <% if current_admin? %>
          <td id='table-entry'><%= link_to "Edit", edit_admin_condition_path(condition) %></td>
          <td id='table-entry'><%= link_to "Delete", admin_conditions_path %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= will_paginate @conditions %>
