<h1>Condition on <%=@condition.date.strftime('%m/%d/%Y')%></h1>

<ul>
  <li>Date: <%=@condition.date.strftime('%m/%d/%Y')%></li>
  <li>Max Temperature: <%=@condition.max_temperature%></li>
  <li>Mean Temperature: <%=@condition.mean_temperature%></li>
  <li>Min Temperature: <%=@condition.min_temperature%></li>
  <li>Mean Humidity: <%=@condition.mean_humidity%></li>
  <li>Mean Visibility: <%=@condition.mean_visibility%></li>
  <li>Mean Wind Speed: <%=@condition.mean_wind_speed%></li>
  <li>Precipitation: <%=@condition.precipitation%></li>
  <% if current_admin? %>
    <li><%= link_to "Edit", edit_admin_condition_path(@condition) %></li>
    <li><%= link_to "Delete", admin_conditions_path %></li>
  <% end %>
</ul>
