<h1>Conditions on <%=@condition.date.strftime('%m/%d/%Y')%></h1>

<section class='show-main'>
  <div class="form-container">
  <h5>Max Temperature: <%= @condition.max_temperature %> ºF</h5>
  <h5>Mean Temperature: <%= @condition.mean_temperature %> ºF</h5>
  <h5>Min Temperature: <%= @condition.min_temperature %> ºF</h5>
  <h5>Mean Humidity: <%= @condition.mean_humidity %> %</h5>
  <h5>Mean Visibility: <%= @condition.mean_visibility %> Miles</h5>
  <h5>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</h5>
  <h5>Precipitation: <%= @condition.precipitation %> "</h5>
  <%= link_to '<< Back to Conditions Index', conditions_path %>
</section>
</div>
<div class="center-buttons">
  <div class="buttons">
    <% if current_admin? %>
      <%= button_to 'Edit', edit_admin_condition_path(@condition), method: :get, class:'btn btn-success show-edit-button' %>
      <%= button_to 'Delete', condition_path(@condition), method: :delete, data: {confirm: "Really want to delete this condition?"}, class:'btn btn-danger' %>
    <% end %>
  </div>
</div>
