<h1>Trips Dashboard</h1>

<p>Average Ride Duration: <%= (@ride_durations[1] / 60.to_f).to_i %> minutes</p>
<p>Longest Ride Duration: <%= (@ride_durations[0] / 60.to_f).to_i %> minutes</p>
<p>Shortest Ride Duration: <%= (@ride_durations[2] / 60.to_f).to_i %> minutes</p>

<p>Station Where Most Rides Start: <%= @station_info.first.name %></p>

<p>Station Where Most Rides End: <%= @station_info.last.name  %></p>

<h3>Rides Per Month</h3>

<% ordered_rides = @rides_per_month.sort_by { |date, rides| date } %>
<% ordered_rides.each do |date, count| %>
  <p><%= date.strftime('%B') %> <%= date.strftime('%Y') %> Rides: <%= count %></p>
<% end %>

<h3>Rides Per Year</h3>
<% ordered_years = @rides_per_year.sort_by { |date, rides| date} %>
<% ordered_years.each do |year, count| %>
  <p>Rides in <%= year.strftime('%Y') %>: <%= count %></p>
<% end %>
