<h1>Trip #<%= @trip.id %></h1>

  <section class='show-main'>
    <div class="form-container">
    <h5>Duration: <%= @trip.duration / 60 %> minutes</h5>
    <% unless @trip.start_station.nil? %>
      <h5>Start Station: <%= @trip.start_station.name %></h5>
    <% end %>
    <% unless @trip.end_station.nil? %>
      <h5>End Station: <%= @trip.end_station.name %></h5>
    <% end %>
    <h5>Start Date: <%= @trip.start_date.strftime("%m/%d/%Y") %></h5>
    <h5>End Date: <%= @trip.end_date.strftime("%m/%d/%Y") %></h5>
    <h5>Bike ID: <%= @trip.bike_id %></h5>
    <h5>Subscription Type: <%= @trip.subscription_type %></h5>
    <h5>Zip Code: <%= @trip.zip_code %></h5>
  <%= link_to '<< Back to Trips Index', trips_path %>
</section>
</div>
<div class="center-buttons">
  <div class="buttons">
    <% if current_admin? %>
      <%= button_to 'Edit', edit_admin_trip_path(@trip), method: :get, class:'btn btn-success show-edit-button' %>
      <%= button_to 'Delete', admin_trip_path(@trip), method: :delete, data: {confirm: "Really want to delete this trip?"}, class:'btn btn-danger' %>
    <% end %>
  </div>
</div>
