<h1>Stations Dashboard</h1>

<section class="container-fluid">
    <div class="row">
      <div class="col-3"></div>
      <table class="table table-borderless col-6 margin-right-20">

        <thead>
          <tr>
            <th scope="col">Station Stats</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total Station Count: </td>
            <td><%= @stations_count %></td>
          </tr>
          <tr>
            <td>Average Bikes Per Station: </td>
            <td><%= @average_bikes_per_station %></td>
          </tr>
          <tr>
            <td>Most Bikes Per Station: </td>
            <td><%= @station_with_most_bikes %></td>
          </tr>
          <tr>
            <td>Station With Most Bikes: </td>
            <td><%= @station_with_most_bikes %></td>
          </tr>
          <tr>
            <td>Least Bikes Per Station: </td>
            <td><%= @least_bikes %></td>
          </tr>
          <tr>
            <td>Station With Least Bikes: </td>
            <td><%= @station_with_least_bikes %></td>
          </tr>
          <tr>
            <td>Newest Station: </td>
            <td><%= @newest_station %></td>
          </tr>
          <tr>
            <td>Oldest Station: </td>
            <td><%= @oldest_station %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
