<h1>Stations Dashboard</h1>

<p>Total Station Count: <%= @stations_count %></p>

<p>Average Bikes Per Station: <%= @average_bikes_per_station %></p>
<p>Most Bikes Per Station: <%= @most_bikes %></p>
<p>Station With Most Bikes: <%= @station_with_most_bikes %></p>
<p>Least Bikes Per Station: <%= @least_bikes %></p>
<p>Station With Least Bikes: <%= @station_with_least_bikes %></p>
<p>Newest Station: <%= @newest_station %></p>
