<h1><%= @station.name %></h1>

<ul>
    <li><%=@station.name%></li>
    <li>Dock count: <%=@station.dock_count%></li>
    <li><%=@station.city%></li>
    <li><%= @station.installation_date.strftime('%m/%d/%Y') %></li>
</ul>

<% if current_user %>
  <ul>
    <li>Rides Started Here: <%= @station.number_rides_started %></li>
    <li>Rides Ended Here: <%= @station.number_rides_ended %></li>
    <li>Most Frequent Destination Station: <%= @station.most_frequent_destination %></li>
    <li>Most Frequent Origination Station: <%= @station.most_frequent_origination %></li>
    <li>Date With Most Trips Started Here: <%= @station.date_for_most_trips_started %></li>
    <li>Most Frequent Zipcode For Users Starting Here: <%= @station.top_starting_user_zipcode %></li>
    <li>Bike ID Most Frequently Starting Here: <%= @station.top_starting_bike_id %></li>
  </ul>
<% end %>
