<h1>Add New Trip</h1>

<%= form_for [:admin, @trip] do |f| %>
  <%= f.label :duration %>
  <%= f.text_field :duration %>

  <%= f.label :start_date %>
  <%= f.text_field :start_date %>

  <%= f.label :end_date %>
  <%= f.text_field :end_date %>

  <%= f.label :start_station_id, 'Origin Station' %>
  <%= f.select :start_station_id, @stations %>

  <%= f.label :end_station_id, 'Terminal Station' %>
  <%= f.select :end_station_id, @stations %>

  <%= f.label :bike_id %>
  <%= f.text_field :bike_id %>

  <%= f.label :subscription_type %>
  <%= f.text_field :subscription_type %>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>

  <%= f.submit %>
<% end %>
