<h1>Your Cart</h1>

<% @cart.accessories_and_quantity.each do |accessory, quantity| %>
  <ul id="accessory-<%= accessory.id %>">
    <li><%= accessory.name %></li>
    <li>Price: <%= number_to_currency(accessory.price) %></li>
    <li><%= accessory.image %></li>
    <li>Quantity: <%= quantity %></li>
    <li><%= button_to "increase quantity", carts_path(accessory_id: accessory.id, add: 'adding one') %></li>
    <% if quantity <= 1%>
          <li><%= button_to "decrease quantity", cart_path(accessory_id: accessory.id, remove: 'removing one'), method: 'delete', disabled: true%>
    <% else %>
          <li><%= button_to "decrease quantity", cart_path(accessory_id: accessory.id, remove: 'removing one'), method: 'delete'%></li>
    <% end %>
    <li>Subtotal: <%= number_to_currency(accessory.price * quantity) %></li>
    <li><%= button_to 'Remove', cart_path(accessory_id: accessory.id), method: 'delete'%></li>
  </ul>
<% end %>
<p><h3>Total: <%= number_to_currency(@cart.total_price) %></h3><p>

<%= form_tag cart_path(total: number_to_currency(@cart.total_price), checkout: 'checkout'), method: 'delete' do %>
  <% if current_user %>
    <h2>Shipping Address</h2>
    <%= label_tag :street_address %>
    <%= text_field_tag :street_address %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= select_tag :state, options_for_select(us_states) %>

    <%= label_tag :zip_code %>
    <%= text_field_tag :zip_code %>
  <% end %>
  <%= submit_tag 'Checkout' %>
<% end %>
