<h1>Your Cart</h1>

<% @cart.accessories_and_quantity.each do |accessory, quantity| %>
  <ul id="accessory-<%= accessory.id %>">
    <li><%= accessory.name %></li>
    <li>Price: <%= number_to_currency(accessory.price) %></li>
    <li><%= accessory.image %></li>
    <li>Quantity: <%= quantity %></li>
    <li><%= button_to "increase quantity", carts_path(accessory_id: accessory.id, add: 'adding one') %></li>
    <li><%= button_to "decrease quantity", cart_path(accessory_id: accessory.id, remove: 'removing one'), method: 'delete' %></li>
    <li>Subtotal: <%= number_to_currency(accessory.price * quantity) %></li>
    <li><%= button_to 'Remove', cart_path(accessory_id: accessory.id), method: 'delete' %></li>
  </ul>
<% end %>
<p><h3>Total: <%= number_to_currency(@cart.total_price) %></h3><p>
<p><h3><%= button_to 'Checkout'%><p>
