<h3>Welcome Admin <%= @user.username %></h3>

<%= link_to 'Edit Profile', edit_admin_user_path(@user) %>
<%= link_to "Accessories", admin_accessories_path %>

<h4>Order Status</h4>
<ul>
  <% @status_count.each do |status, count| %>
    <li><%= status.capitalize %>: <%= count %></li>
  <% end %>
</ul>

<%= form_tag admin_dashboard_path, method: 'GET' do %>
  <%= label_tag :filter_by_status, 'Filter by Status' %>
  <%= select_tag :filter_by_status, options_for_select([['Ordered', 'ordered'],['Paid', 'paid'],['Completed', 'completed'],['Cancelled', 'cancelled']]) %>

  <%= submit_tag 'Filter' %>
<% end %>

<h4>All Orders</h4>
<% @orders.each do |order| %>
  <ul id="order-<%= order.id %>">
    <li><%= link_to "Order ##{order.id}", order_path(order) %></li>
    <li>User: <%= order.user.username %></li>
    <li>Status: <%= order.status.capitalize %></li>
    <% if order.status != 'cancelled' %>
      <% if order.status == 'ordered' %>
        <li><%= link_to 'Mark as Paid', order_path(order, status_update: 'paid'), method: :put %></li>
        <li><%= link_to 'Cancel', order_path(order, status_update: 'cancelled'), method: :put %></li>
      <% elsif order.status == 'paid' %>
        <li><%= link_to 'Mark as Completed', order_path(order, status_update: 'completed'), method: :put %></li>
        <li><%= link_to 'Cancel', order_path(order, status_update: 'cancelled'), method: :put %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
