<h3>Welcome Admin <%= @user.username %></h3>

<%= link_to 'Edit Profile', edit_admin_user_path(@user) %>
<%= link_to "Accessories", admin_accessories_path %>

<h4>Order Status</h4>
<ul>
  <% @status_count.each do |status, count| %>
    <li><%= status.capitalize %>: <%= count %></li>
  <% end %>
</ul>

<h4>All Orders</h4>
<% @orders.each do |order| %>
  <ul id="order-<%= order.id %>">
    <li>Order #<%= order.id %></li>
    <li>User: <%= order.user.username %></li>
    <li>Status: <%= order.status %></li>
  </ul>
<% end %>
