<h1>Bike Shop</h1>

<section class='index-main'>
  <table class="table table-borderless" id='station-index-table'>
    <thead>
      <tr>
        <th scope="col" id='table-entry'></th>
        <th scope="col" id='table-entry'>Accessory</th>
        <th scope="col" id='table-entry'>Description</th>
        <th scope="col" id='table-entry'>Price</th>
        <th scope="col" id='table-entry'></th>
      </tr>
    </thead>
    <tbody>
      <% @accessories.each do |accessory| %>
        <tr id="accessory-<%= accessory.id %>"<%= accessory.id %>>
          <th id='table-entry'><img src="<%= accessory.image %>" alt="thumbail" style="width:30px;height:30px;"></th>
          <th id='table-entry'><%= link_to accessory.name, accessory_path(accessory) %></th>
          <td id='table-entry'><%= accessory.description %></td>
          <td id='table-entry'><%= number_to_currency(accessory.price) %></td>
          <% if accessory.retired? %>
            <td><%= button_to 'Retired', nil, disabled: true, class:'btn btn-outline-dark retired-button' %></td>
          <% else %>
            <td><%= button_to "Add to Cart", carts_path(accessory_id: accessory.id), class:'btn btn-primary' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
